[Unit]
Description=Monitor the datastream from an Outback Mate3
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/monitormate/monitormate.php -p 57027 -u http://monitormate.fabfarm.org:8080/post_datastream.php -t monitormate
StandardOutput=journal
StandardError=journal
Restart=on-abort
User=root

[Install]
WantedBy=multi-user.target
